import { readInput } from "./helper.ts"

export const solve = (input: string): number => {
  return 0
}

export const solve2 = (input: string): number => {
  return 0
}

console.log(solve(await readInput("day-x")))
console.log(solve2(await readInput("day-x")))
